<h2 style="margin-top: 13px;">Processed file: <%=device.name %></h2>
<textarea><%=device.processed %></textarea>
<a class="pull-right btn btn-default btn-lg" href="#<%=window.workspace%>/device/<%=device.id %>">Back</a>